@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
    font-family: 'Damion', cursive;
}


@layer base {
  body {
    @apply font-damion;
    overflow-x: hidden;
  }
}
